{% extends 'admin.base.html.twig' %}

{% block dashboard %}
<section class="gap-40">
    <a class="btn btn-primary" href="{{ path('admin_category_index') }}">Retour</a>
    <h1>Ajouter une Catégorie</h1>
</section>
{% endblock %}