{% extends 'base.html.twig' %}

{% block main %}
<section class="admin-container flex flex-column justify-center gap-10">
    <h1>Admin Panel</h1>
    <h2>Bienvenue {{ app.user.email }} !</h2>
</section>
{% endblock %}