{% extends 'base.html.twig' %}

{% block title %}Flanano - Admin{% endblock %}

{% block main %}
<h1>Liste des Catégories</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom de la Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="{{ path('admin_category_show', { id: category.id }) }}">Voir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}