::selection {
  background-color: var(--color-purple);
}

/* Header */
.header {
  width: 100%;
  background-color: var(--color-light-grey);
  border-bottom: 1px solid var(--color-grey);
}

.header-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  border: 0 solid var(--color-grey);
  border-width: 0 1px;
}

.header-logo {
  padding: 20px;
  border-right: 1px solid var(--color-grey);
}

#main-nav {
  padding: 20px;
}

#main-nav a {
  transition: color 0.3s ease;
}

#main-nav a:hover {
  color: var(--color-grey);
}

#main-nav .active {
  color: var(--color-grey);
  pointer-events: none;
}

.burger-btn {
  display: none;
  padding: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

.hidden {
  display: none;
}

/* Footer */
footer {
  max-width: 1920px;
  width: 100%;
  padding: 20px;
  align-items: center;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-color: var(--color-text-grey);
  overflow: hidden;
}

footer div {
  align-items: center;
}

footer a {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h);
  text-decoration: underline;
  text-underline-offset: 5px;
  transition: all 0.3s;
}

footer a:hover {
  color: var(--color-red);
}

.footer-logo {
  width: 100%;
  transform: scale(1.05) translateY(50px);
}

/* Section Category */
.category-container {
  padding: 100px 20px;
  border-bottom: solid 1px var(--color-text-grey);
}

.category-container div {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.category-container img {
  height: 16px;
}

/* Section Message Scroll */
.pink-message-container {
  overflow: hidden;
  background-color: var(--color-pink);
  padding: 20px 0;
  border-bottom: solid 1px var(--color-text-grey);
  white-space: nowrap;
}

.scrolling-text {
  width: max-content;
}

.scrolling-content {
  flex-shrink: 0;
  animation: scroll 20s linear infinite;
}

.scrolling-content p {
  padding-right: 100px;
  font-weight: var(--font-weight-bold);
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 50px));
  }
}

/* Section Product */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: var(--color-text-grey);
  border-bottom: solid 1px var(--color-text-grey);
}

/* Card */
.card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-white);
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(0.98);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}
