header {
  background-color: var(--color-light-grey);
  border-bottom: solid 1px var(--color-grey);
}

header div {
  padding: 20px;
  border-right: solid 1px var(--color-grey);
}

header nav {
  padding: 20px;
}

header a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

header .active {
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  text-underline-offset: 5px;
  pointer-events: none;
}
