/* Flexbox */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Gap */
.gap-20 {
  gap: 1.25rem;
}

/* Justify */
.justify-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* Align */
.align-item-center {
  align-items: center;
}

/* Media Query */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}
