/* Flexbox */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Justify */
.justify-center {
  justify-content: center;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* Media Query */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
  body {
    padding: 10px;
  }
}
