<a href="">
    <div class="card">
        <img src="{{ asset(product.cover) }}" alt="{{ product.title }}">
        <div class="card-content">
            <p>{{ product.title }}</p>
            <p><strong>{{ product.priceTTC }}</strong></p>
        </div>
    </div>
</a>